.demo-table {
  width: 100%;
}


.button-item{
    padding-right: 2em;
}

.button-container{
    display: flex;
    flex-direction: row;
}


.tracker-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.tracker-item {
  padding-right: 5em;
}


